.home__bg {
    background-image: url(../images/startLogo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 86vh;
    overflow-x: hidden;
}

.home-message-icon {
    margin-left: 10px;
    display: inline-block;
}